<%- include('partials/header'); -%>

  <header style="margin-top: 25px;">
    <div class="hero-img">
      <img src="/images/home.png" style="width: 400px" alt="" />
    </div>
    <div class="headings">
      <h2>Graphical Password Authentication</h2>
      <h3>By TEAM BLUE</h3>
      <a href="/private" class="btn">Read More</a>
    </div>
  </header>

  <%- include('partials/footer'); -%>